body
{background-color:darkgreen;
 font-family: Segoe, Verdana, sans-serif;}
header  {background-color:limegreen;}
h1{color:black;}
h2{color:white;}
nav > ul {line-height:2em;
          list-style-type: none;
          padding-left:5px;}

section {background-color:forestgreen;
         width:75%;
         font-size:1.2em;}
footer {background-color:limegreen;}
